body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}

h1 {
  color: #F98404;
}

h3 {
  color: #66BFBF;
}



a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration:line-through;
  color:red;
  font-size: 20px;
}

a:link{
  color:blue;
  text-decoration: none;
}
